{% extends 'base.html'%}


{% block title%}
Inicio
{% endblock %} 



{% block body %}

<br>
<h1>Esse site tem como objetivo mostrar alguns cursos tecnicos de nível médio oferecidos pelo IFRN Campus Pau dos Ferros
</h1>
<br>
<img src="static\img\51467_Campus_Pau_dos_Ferros_nao_tera_expedient.width-500.jpg" alt="">

<br>
<div>
    <h3>Processos seletivos</h3>
    <p>Com oferta anual que ultrapassa 6 mil vagas em diversos níveis, formas e modalidades de curso, o IFRN organiza o acesso de estudantes tanto através de processos de seleção internos como também se utiliza de processos nacionais, como o Sistema de Seleção Unificada (SiSU), utilizando as notas do Exame Nacional do Ensino Médio (Enem).</p>
    
</div>
<br>
<div>
    <h3>Cursos</h3>
    <p>O Campus Pau dos Ferros tem 18 cursos, distribuídos nos mais diversos níveis. São 18 cursos gratuitos distribuídos entre as seguintes modalidades: Especialização, FIC, Licenciatura, Técnico Integrado, Técnico Integrado EJA, Técnico Subsequente e Tecnologia.</p>
</div>




{% endblock %}